@using EntityLayer.Concrete
@model List<Content>
@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("GetAllContent", "Content", FormMethod.Post))
{
    <h3>
        Aranacak Kelimeyi Girin: @Html.TextBox("p")
    </h3>

    <input type="submit" value="Ara" />
    foreach (var item in Model)
    {
        <table>
            <tr>
                <td>@item.ContentValue</td>
            </tr>
        </table>
       
    }
}
